<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.continentaltechsolutions.dell.gmail_test">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--
        res/layout/main_activity.xml           # For handsets (smaller than 600dp available width)
        res/layout-sw600dp/activity_img_btn.xml   # For 7” tablets (600dp wide and bigger)
        res/layout-sw720dp/main_activity.xml   # For 10” tablets (720dp wide and bigger)
        res/layout-sw600dp/main_activity.xml   # For 7” tablets (600dp wide and bigger)

        res/layout-w720dp/main_activity.xml   # For 10” tablets (720dp wide and bigger)
        res/layout-sw600dp-land/main_activity.xml   # For 7” tablets in landscape (600dp wide and bigger)
        res/layout-w720dp-land/main_activity.xml   # For 10” tablets in landscape (720dp wide and bigger)
    -->

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="false"
        android:requiresSmallestWidthDp="600"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">

        </activity>
        <activity
            android:name=".activity.GmailActivity"
            android:label="@string/title_activity_gmail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.ImgBtnActivity" />
        <activity android:name=".activity.Gmail_Empty_Activity" />
        <activity android:name=".activity.ViewNotificationConfigActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="051636a79ea229ca7f19b413e7480f7a30183ba7" />

        <activity android:name=".activity.NotificationConfigActivity">

        </activity>
        <activity android:name=".activity.TimePickerActivity"></activity>
        <activity android:name=".activity.MultipleScreenSizesMain2Activity" />
    </application>

</manifest>